<!DOCTYPE html>
<html style="background-color:#2c2c2c;">
  <head>
    <style>
      #search-results tr:hover {
        background-color: lightcoral;
        cursor: pointer;
      }
    </style>
  </head>

  <body style="color:#00ffff;">
    <form id="search-form" onsubmit="return false">
      <input name="search" />
      <input type="submit" value="Search" onclick="submitSearch()" />
    </form>

    <table width="100%">
      <thead>
        <tr style="text-align: left;">
          <th width="40%">Title</th>
          <th width="30%">Author</th>
          <th width="30%">Year</th>
          <th width="30%">ID</th>
        </tr>
      </thead>
      <tbody id="search-results"></tbody>
    </table>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script type="text/javascript">
        function submitSearch() {
          $.ajax({
            url: "/search",
            method: "POST",
            data: $("#search-form").serialize(),
            success: function(rawData) {
              var parsed = JSON.parse(rawData);
              if (!parsed) return;

              var searchResults = $("#search-results");
              searchResults.empty();

              parsed.forEach(function(result) {
                
                var row = $("<tr><td>" + result.Title + "</td><td>" + result.Author + "</td><td>" + result.Year + "</td><td>" + result.ID + "</td></tr>");
                searchResults.append(row);

                row.on("click", function() {
                  $.ajax({
                    url:"/books/add?id=" + result.ID,
                    method: "GET"
                  })
                })
              });
            }
          });

          return false;
        }
        </script>
  </body>
</html>
